################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code/v16/Server/sqlite3
/LetsGetdopamine/.vs/LetsGetdopamine/FileContentIndex
/LetsGetdopamine/.vs/LetsGetdopamine/v17
/LetsGetdopamine/driver/bin/Debug/net8.0
/LetsGetdopamine/driver/obj
/LetsGetdopamine/snakeladder/gameDriver/bin/Debug/net8.0
/LetsGetdopamine/snakeladder/gameDriver/obj
/LetsGetdopamine/snakeladder/gamelib/bin/Debug/net8.0
/LetsGetdopamine/snakeladder/gamelib/obj
/LetsGetdopamine/src/bin/Debug/net8.0
/LetsGetdopamine/src/bin/Debug/net8.0/src.deps.json
/LetsGetdopamine/src/bin/Debug/net8.0/src.dll
/LetsGetdopamine/src/bin/Debug/net8.0/src.pdb
/LetsGetdopamine/src/obj
/LetsGetdopamine/test/bin/Debug/net8.0
/LetsGetdopamine/test/obj/Debug/net8.0
/LetsGetdopamine/test/obj
/LetsGetdopamine/.vs/LetsGetdopamine/DesignTimeBuild
/LetsGetdopamine/RateLimiterDriver/bin/Debug/net8.0
/LetsGetdopamine/RateLimiterDriver/obj
/LetsGetdopamine/RateLimitterLib/bin/Debug/net8.0
/LetsGetdopamine/RateLimitterLib/obj
/LetsGetdopamine/DataLayer/bin/Debug/net8.0
/LetsGetdopamine/DataLayer/obj
/LetsGetdopamine/Dopamine.Entities/bin/Debug/net8.0
/LetsGetdopamine/Dopamine.Entities/obj
